[submodule "External/Bgfx"]
    path = External/Bgfx
    url = https://github.com/bkaradzic/bgfx.git
[submodule "External/Bx"]
    path = External/Bx
    url = https://github.com/bkaradzic/bx.git
[submodule "External/Bimg"]
    path = External/Bimg
    url = https://github.com/bkaradzic/bimg.git
[submodule "External/Bullet"]
    path = External/Bullet
    url = https://github.com/bulletphysics/bullet3.git
[submodule "External/SDL"]
    path = External/SDL
    url = https://github.com/libsdl-org/SDL.git
